# vim: ts=4 filetype=apache

ServerName localhost
IndexOptions FancyIndexing
ServerTokens Full

<IfDefine DEFAULT_VHOST>

    Listen 0.0.0.0:{{ apache_port_http }}

    <VirtualHost *:{{ apache_port_http }}>

        ServerName localhost
        ServerAlias {{ ansible_hostname }}
        ServerAlias {{ default_domainname }}

        ServerAdmin root@localhost

        DocumentRoot "{{ default_htdocs_path }}"

        DirectoryIndex index.php index.html index.htm

        <Directory "{{ default_htdocs_path }}">
            Options Indexes FollowSymLinks
            AllowOverride All
            Require all granted
        </Directory>

        <IfModule alias_module>
            ScriptAlias /cgi-bin/ "{{ default_cgi_path }}/"
        </IfModule>

        <Directory "{{ default_cgi_path }}">
            AllowOverride None
            Options None
            Require all granted
        </Directory>

        <IfModule mpm_peruser_module>
            ServerEnvironment {{ apache_user }} {{ apache_group }}
        </IfModule>

        # TODO configure logging

    </VirtualHost>
</IfDefine>
