<?php

  // disable caching
  header("Cache-Control: no-store, no-cache, must-revalidate, max-age=0");
  header("Cache-Control: post-check=0, pre-check=0", false);
  header("Pragma: no-cache");

  $actual_base_url = str_replace(":".$_SERVER['SERVER_PORT'],"","//".$_SERVER['HTTP_HOST']);

?><!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
    * {
        box-sizing: border-box;
    }
    html, body {
        margin: 0;
    }
    body {
        font-family: 'Fira Sans', sans-serif;
        background-color: rgb(20, 20, 20);
        margin: 0 auto;
    }
    header a {
        color: white;
        font-weight: 300;
        letter-spacing: 2px;
        text-decoration: none;
        background: rgb(238, 13, 13);
        padding: 20px 5px;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    header a:hover {
        background: rgba(238, 13, 13, 0.75);
    }
    nav ul {
        border: 1px solid rgb(212, 0, 0);
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav li {
        flex: 3;
    }
    main {
        background-color: #CCC;
        width: 100%;
        height: 100%;
        display: block;
    }
    footer {
        background-color: black;
        color: #EEE;
    }
    </style>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="#">Configuration</a></li>
            <li><a href="#">Files</a></li>
            <li><a href="#">Editor</a></li>
            <li><a href="#">MySQL</a></li>
            <li><a href="#">PostgreSQL</a></li>
            <li><a href="#">CouchDB</a></li>
            <li><a href="#">RabbitMQ</a></li>
            <li><a href="#">Solr</a></li>
            <li><a href="#">Redis</a></li>
            <li><a href="#">Mailcatcher</a></li>
            <li><a href="#">DNSmasq</a></li>
            <li><a href="#">Shell</a></li>
          </ul>
        </nav>
    </header>
    <main>
        <div>CONTENT</div>
    </main>
    <footer>
        <div><p>Box version { box_version }, Dashboard running on PHP <?php echo phpversion(); ?><!-- <br><small><?php echo str_replace("\n","<br>","{{ lookup('pipe','cat /home/vagrant/.release_webdev') }}"); ?></small> --></p></div>
    </footer>
</body>
</html>
